/* styles.css */
QWidget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#main_window {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
}

#left_widget {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mHeader {
    font-weight: bold;
    font-size: 15px;
    color: #333333;
}

#mRightWidget {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mLoadingButton {
    border: none;
    background-color: transparent;
}

#infoLabel {
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    color: #555555;
}

#chapitersWidget {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chapitersListWidget {
    border: none;
    padding: 10px 0;
}

#buttonsWidget:disabled {
    color: black;
}

QProgressBar {
    border: 2px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f0f0f0;
}

QProgressBar::chunk {
    background-color: #4caf50;
    width: 10px;
    margin: 0.5px;
}
